nav {
    background-color: #00acc1 ;
}

.nav-wrapper {
    margin: 10px 30px;
}

.dropdown-content a {
    color: black;
}

.dropdown-content a:hover {
    background-color: #00bcd4;
    color: white;
}

.brand-logo {
    font-weight: bold;
}

.list a {
    font-weight:  bold;
}